@font-face {
    font-size: 50px;
    font-family: 'Cyberpunk';
    src: url('./fonts/7072-fontps.ttf') format('TrueType');
    font-style: normal;
    font-weight: normal;
}
h1{
    font-family: 'Cyberpunk';
    color: #03d8f3;
}
body{
    background-color: #fcee0c;
}
img{
    width: 180px;
    height: 100px;
    border-radius: 15px;
}
a{
    font-family: 'Roboto';
}
li{
    font-weight: bold;
}
